// fonts

$ff-primary: 'Bebas Neue', cursive;
$ff-secondary: "Fjalla One", sans-serif;
$ff-text: "Abel", sans-serif;


// colors

$white: #f4f4f4;
$black: #000;

$primary: #FEB729;
$secondary: #FECE5E;

$gray-100: #ececec;
$gray-200: #E9E9E9;
$gray-300: #BFBFBF;
$gray-400: #7F7F7F;
$gray-500: #242424;
$gray-600: #241E1F;
$gray-700: #1E1516;




