.container {
margin: 0 auto;
}

header,
section {
    margin: 0 auto;
    padding: 2rem;
    
    @include sm-up {
        padding: 5rem 2rem;
    }

    @include md {
        padding: 6rem 2rem;
    }

    @include lg {
        max-width: 120rem;
    }
}